
.appshell {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 48px 240px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
}
.supervisors {
  grid-area: 2 / 1 / 3 / 2;
  @apply border-[1px] border-gray-300;
}
.praclist {
  grid-area: 3 / 1 / 4 / 2;
  @apply border-[1px] border-gray-300;
}
.pracinfo {
  grid-area: 2 / 2 / 4 / 3;
  @apply border-[1px] border-gray-300 p-2;
}
.bg-secondary {
  background-color: #6c757d!important;
}

.text-black{
  color: black;
}

.rdrInputRangeInput:focus, .rdrInputRangeInput:hover ,.rdrInputRangeInput {
color: white !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}
td {
  border-bottom: 1px solid #bababa;
}
thead {
  border-bottom: 2px solid #bababa;
}
th,
td {
  text-align: left;
  padding: 0.5em 0.5em;
}
/* td:last-child {
  width: 40%;
} */
.clearfix{clear: both;}